{% extends 'base.html' %}
{% block body %}
<div id="main_body" class="container">
	<div class='col-md-8'>
		<h4>
	Trained on a very cool Chennai based hotels reviews, this model provides our customers a step ahead to
	analyze their models smartly and save time. We have also included some interesting visual representations. Visuals have an amazing impact on long lasting memory and people can get more out of it rather than written or any other way. Apart from that this project is highly scalable and have high 
	future scope. </h4>
</div>

</div>
<style>
	body{
		background-image: url('https://free4kwallpapers.com/uploads/originals/2015/10/30/eiffel-tower-progress-wallpaper.jpg');
		background-size: cover;
	}
	h4{
		margin-top:20px;
	}
</style>
{% endblock %}